.footer {
  background-color: #242424;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-container p {
  color: #fff;
  margin: 0;
}
